%footer
  %p &copy; 2006-#{Date.today.year} <a href="/about/#the_haml_team">Команда Haml</a> и <a href="https://github.com/haml/haml/graphs/contributors">многочисленные разработчики</a>. Haml доступен для использования и модификации под <a href="http://haml.info/docs/yardoc/file.MIT-LICENSE.html">MIT&nbsp;лицензией</a>.