---
title: Разработка
---

.content
  %h1
    %img{:src => "/assets/img/img-badge-development.png", :alt => "Разработка"}/
    Разработка
  = partial 'partials/subnav'

  :markdown
    Поддержкой Haml занимаюсь я, [Norman Clarke](http://njclarke.com), и я очень признателен за любую помощь, которую я могу получить. Официальный репозиторий Haml на [GitHub](http://github.com/haml/haml)а большинство обсуждений по разработке происходит в [ленте подписчиков](http://groups.google.com/group/haml) на Haml.

    ## Ошибки и Возможности

    Если вы нашли ошибку в Haml или у вас есть что-то, что вы бы хотели увидеть в языке - сообщайте любыми способами! Создайте сообщение в [трекер ошибок](http://github.com/haml/haml/issues) и я попытаюсь проследить за ним как смогу. Пожалуйста, проследите за тем, чтобы ваше сообщение содержало в себе:

    * Какую версию Haml вы ипользуете (запустите `haml --version` в командной строке)
    * Если проблема касается Rails, то укажите версию Rails, которую вы используете (`rails --version`)
    * Если возможно, то небольшой шаблон в Haml с содержанием ошибки, предпочтительнее один, чтобы его можно было запустить с помощью команды `haml` в командной строке.

    **Как можно больше предоставляйте информации для максимально быстрого устранения ошибки!**

    ## Сотрудничество

    Тогда как сообщения об ошибках и предложения улучшений это круто, то реальное исправление ошибок в коде или реализация улучшений в разы лучше. Если у вас наработки кода, которыми вы хотите посодействовать развитию, то сначала почитайте информацию ниже, потом сделайте форк репозитория [Haml](http://github.com/haml/haml) и пришлите пул реквест. Я проверю код вашего реквеста и после этого есть шанс, что я их введу в ветку разработки.

    Haml имеет две основных ветки. [Stable](http://github.com/haml/haml/tree/stable) - в этой ветке развивается текущая версия Haml. Также в эту ветку направляется большинство сообщений об ошибках. [Master](http://github.com/haml/haml/tree/master) - ветка, в которой разрабатывает следующая версия Haml и это место для новых возможностей. **Пожалуйста, выбирайте подходящую ветку для ваших изменений.**

    ## Когда делаете патч, пожалуйста:

    * Вы должны быть уверены, что ваш коммит содержит правильную пунктуацию и написан без чрезмерного использования заглавных букв
    * Вы должны быть уверены, что сообщение коммита (краткое) является законченным предложением.
    * Добавьте unit-тесты
    * Добавьте запись в лог (`CHANGELOG.md`), описывающую ваши изменения. 
      Не стесняйтесь добавлять `(спасибо [Ваше имя](Ваш сайт))` в конец записи
    * Вы должны быть уверены, что ваши коммиты не добавляют новых пробелов (используйте `git diff --check`)
    * Если вы реализовали видимые  для пользователей изменения, добавьте их описание в справку (`REFERENCE.md`)
