---
title: Документация по Haml
---

.content
  %h1
    %img{:src => "/assets/img/img-badge-documentation.png", :alt => "Документация"}/
    Документация
  = partial 'subnav'

  :markdown
    ## Руководство

    [Руководство](/tutorial.html) - отличный путь для начала знакомства с языком. В нем описан базовый синтаксис элементов, а также как использовать Ruby в документе.

    ## Справка по Haml

    [Справка по Haml](/documentation/) - наиболее полная документация по Haml. Она включает в себя все возможности языка, все [настройки](/docs/yardoc/file.REFERENCE.html#options), и как [установить Haml через пакетный менеджер Ruby](/docs/yardoc/file.REFERENCE.html#using_haml).

    ## Вопрос-Ответ

    Если у вас проблема или есть вопрос, попробуйте поискать решения в блоке [Вопрос-Ответ](/docs/yardoc/file.FAQ.html). Если вы не найдете там то, что искали, можете задать вопрос в [сообществе Haml](/help.html).

    ## Документация по API

    И, наконец, если вы хотите посмотреть как реализован Haml, то вы можете это сделать в системе [YARD](http://yardoc.org) в разделе [Документация по API](/docs/yardoc/). Этот вариант, вероятно, не будет удобен для всех, но если вы пишете на Ruby в связке с Haml, то это отличное место, где можно подчерпнуть много полезного.
