---
title: Как установить Haml
---

.content
  %h1
    %img{:src => "/assets/img/img-badge-download.png", :alt => "Установка"}/
    Установка
  = partial 'partials/subnav'

  :markdown
    ## Стандартный gem

    Большинство людей используют стабильную версию стандартного гема Haml. Установить его можно так:

  %pre gem install haml

  :markdown
    ## Пред-релизный gem

    Для того, чтобы получить последнюю и лучшую версию Haml, вы можете установить пред-релизную версию гема:

  %pre gem install haml --pre

  :markdown
    Вы можете увидеть какие версии Haml доступны, посетив страницу Haml на сервисе
    [RubyGems](https://rubygems.org/gems/haml).

    ## Git

    Найти исходный код Haml вы можете найти в репозитории [GitHub](http://github.com/haml/haml).

