---
title: Редакторы для работы с Haml
---

.content
  %h1
    %img{:src => "/assets/img/img-badge-editors.png", :alt => "Редакторы"}/
    Редакторы
  = partial 'partials/subnav'

  :markdown
    Различные текстовые редакторы имеют разную поддержку Haml. На этой страничке список всех известных пакетов, а если вы что-то создаете или желаете узнать о более новых версиях, пожалуйста, напишите нам на [haml@googlegroups.com](mailto:haml@googlegroups.com).

    Синтаксис Haml время от времени меняется, а это означает, что некоторые из возможностей могут не поддерживаться или поддерживаться, но не полноценно. Если кто-то хочет взять на себя задачу по обновлению старых версий пакетов, то мы будем очень благодарны.

    * **[Coda/SubEthaEdit](http://github.com/gf3/haml.mode)** от [Gianni Chiappetta](http://www.gf3.ca/).

    * **[Eclipse](http://haml.googlegroups.com/web/net.lucky_dip.hamleditor_site_0.5.4.zip)** от [Brad Wilson](http://lucky-dip.net/). Это скриншот сайта, на котором размещен пакет, так что вы можете немного запутаться пока настроите его. Пакет [EclipseColorer](http://colorer.sourceforge.net/eclipsecolorer/) от [Игоря Русских](http://cail.nm.ru/) позволяет добавить подсветку синтаксиса Haml и Sass.

    * **[Emacs](http://github.com/nex3/haml-mode/tree/master/haml-mode.el)** от [Natalie Weizenbaum](http://nex-3.com). Вероятно, это самый часто обновляемый пакет, поскольку разрабатывается бывшим разработчиком Haml.

    * **[GEdit/Gnome](http://blog.ardekantur.com/2008/03/haml-syntax-highlighting-for-gedit/)** от [Ardenkatur](http://ardekantur.com/). Существует еще один [старый пакет](http://groups.google.com/group/haml/msg/b5100d80d9182c71) от [Ивана Керина](http://www.facebook.com/ivan.kn).

    * **[JEdit](http://haml.googlegroups.com/web/haml.xml?hl=en)** от [Jim Morris](http://blog.wolfman.com/). Может не работать с последними версиями JEdit.

    * **[Kate/KDE](http://haml.googlegroups.com/web/haml_highlighting_for_kde.tar.gz)** от [Cies Breijs](http://ciesbreijs.blogspot.com).

    * **[Komodo](http://community.activestate.com/files/haml_bundle-0.1.1_0.zip)** (автор неизвестен).

    * **[NetBeans](http://mediacast.sun.com/users/tnorbye/media/org-netbeans-modules-haml.nbm/details)** (автор неизвестен).

    * **[RadRails](http://www.aptana.com/products/radrails)**: разрабатывается.

    * **[RubyMine](http://www.jetbrains.com/ruby)**: разрабатывается.

    * **[TextMate/E Text Editor](http://github.com/handcrafted/handcrafted-haml-textmate-bundle)** от [Adam Stacoviak](http://www.adamstacoviak.com). Также есть [официальный](http://svn.textmate.org/trunk/Bundles/Ruby%20Haml.tmbundle), прекративший поддерживаться, пакет от [Kevin Ballard](http://kevin.sb.org), и множество [форков](http://github.com/douglasjarquin/ruby-haml-tmbundle/network) этого пакета.

    * **[Vim](http://github.com/tpope/vim-haml)** от [Tim Pope](http://www.stopwritingramblingcommitmessages.com). Также есть [официальный](http://www.vim.org/scripts/script.php?script_id=1773), прекративший поддерживаться, пакет от [Дмитрия Иляшевича](http://github.com/dmitry-ilyashevich).

    * **[Sublime Text 2](https://github.com/phuibonhoa/handcrafted-haml-textmate-bundle)** от [Adam Stacoviak](http://www.adamstacoviak.com) и адаптированный [Philippe Huibonhoa](http://github.com/phuibonhoa). Доступен для установки через [пакетный менеджер Sublime](http://wbond.net/sublime_packages/package_control) как плагин.
