---
title: Помощь по Haml
---

.content
  %h1
    %img{:src => "/assets/img/img-badge-help.png", :alt => "Помощь"}/
    Помощь
  = partial 'partials/subnav'

  :markdown
    Haml имеет процветающее сообщество, где можно получить помощь. В сообществе есть несколько мест, где можно задать вопрос или получить помощь в отладке. Но прежде, чем обратиться за помощью, попробуйте найти ответы в блоке [Вопрос-Ответ](/docs/yardoc/file.FAQ.html).

    * Нормана в твиттере можно найти по нику [@compay](http://twitter.com/compay), где он обычно быстро и отвечает на все вопросы.
    * Также Haml имеет свой IRC канал по адресу irc.freenode.net, где легко можно задать свой вопрос.
    * Если у вас большой вопрос (или никого нет в IRC канале), то можете обратиться в [Google группу Haml](https://groups.google.com/forum/?fromgroups#!forum/haml). Как правило вы получите ответ в течение дня или того раньше, если разработчики обратят на него внимание, когда вы его пришлете.
